.inicio {
  height: 500px;
  padding: 50px;
  background: url('../img/inicio.jpg') no-repeat center center fixed;
  background-size: cover;
  text-align: center;
  color: #ffffff;
}

.inicio h2 {
  font-size: 2.5em;
}

.inicio p {
  font-size: 1.3em;
  max-width: 800px;
  margin: 0 auto;
}

.neonv {
  color: #ffffff;
  text-shadow:
    0 0 2px rgba(148, 0, 211, 1),
    0 0 4px rgba(148, 0, 211, 1),
    0 0 8px rgba(148, 0, 211, 1),
    0 0 16px rgb(87, 38, 127, 1),
    0 0 32px rgba(87, 38, 127, 1),
    0 0 48px rgba(87, 38, 127, 1),
    0 0 50px rgb(48, 20, 71, 1),
    0 0 60px rgba(48, 20, 71, 1),
    0 0 70px rgba(48, 20, 71, 1);
}