/* Estilos de la barra de navegación */
header {
  background-color: #1f002b;
  /* Color morado */
  color: #ffffff;
  /* Letras blancas */
  padding: 2px;
  position: fixed;
  width: 99;
  top: 0;
  transition: top 0.3s;
  position: sticky;
  z-index: 1000;
  box-shadow:
    0 0 2px rgba(148, 0, 211, 1),
    0 0 4px rgba(148, 0, 211, 1),
    0 0 8px rgba(148, 0, 211, 1),
    0 0 16px rgb(87, 38, 127, 1),
    0 0 32px rgba(87, 38, 127, 1),
    0 0 48px rgba(87, 38, 127, 1),
    0 0 50px rgb(48, 20, 71, 1),
    0 0 60px rgba(48, 20, 71, 1),
    0 0 70px rgba(48, 20, 71, 1);
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  padding-left: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: flex;
}

li {
  margin-left: 20px;
}

li:hover {
  text-shadow:
    0 0 2px rgba(148, 0, 211, 1),
    0 0 4px rgba(148, 0, 211, 1),
    0 0 8px rgba(148, 0, 211, 1),
    0 0 16px rgb(87, 38, 127, 1),
    0 0 32px rgba(87, 38, 127, 1),
    0 0 48px rgba(87, 38, 127, 1),
    0 0 50px rgb(48, 20, 71, 1),
    0 0 60px rgba(48, 20, 71, 1),
    0 0 70px rgba(48, 20, 71, 1);
}

a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}