/* Estilos de la barra de navegación */
header {
  background-color: #6c1f85; /* Color morado */
  color: #ffffff; /* Letras blancas */
  padding: 2px;
  position: fixed;
  width: 100%;
  top: 0;
  transition: top 0.3s;
  position: sticky;
  z-index: 1000;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  padding-left: 50px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 10px;
  display: flex;
}

li {
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
}


