.producto {
    padding: 35px;
    background: #14001c;
}
.descripcion {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-size: 1.5em;
    text-align: left;
    padding: 10px;
}
.slider-section-red img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.container-slider {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    position: relative;
    box-shadow:
        0 0 2px rgba(148, 0, 211, 1),
        0 0 4px rgba(148, 0, 211, 1),
        0 0 8px rgba(148, 0, 211, 1),
        0 0 16px rgb(87, 38, 127, 1),
        0 0 32px rgba(87, 38, 127, 1),
        0 0 48px rgba(87, 38, 127, 1),
        0 0 50px rgb(48, 20, 71, 1),
        0 0 60px rgba(48, 20, 71, 1),
        0 0 70px rgba(48, 20, 71, 1);
        border-radius: 10px;
}
.slider {
    display: flex;
    width: 400%;
    height: 500px;
    margin-left: -100%;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.);
}
.slider-section {
    background-color: #ffffff;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    text-transform: capitalize;
    border: solid 5px #ffffff;

}
.slider-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.slider-btn {
    position: absolute;
    width: 30px;
    height: 30px;
    background: rgba(148, 0, 211, 0.25);
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
}

.slider-btn:hover {
    background: #9400d3;
    box-shadow:
        0 0 2px rgba(148, 0, 211, 1),
        0 0 4px rgba(148, 0, 211, 1),
        0 0 8px rgba(148, 0, 211, 1),
        0 0 16px rgb(87, 38, 127, 1),
        0 0 32px rgba(87, 38, 127, 1),
        0 0 48px rgba(87, 38, 127, 1),
        0 0 50px rgb(48, 20, 71, 1),
        0 0 60px rgba(48, 20, 71, 1),
        0 0 70px rgba(48, 20, 71, 1);
}

.slider-btn-right {
    right: 10px;
}

.slider-btn-left {
    left: 10px;
}